
        #div1{
            background-color: gray;
            width: 30%;
            float:right;
            overflow: hidden;
            height: 250px;
        }
        #div2{
            background-color: gray;
            width: 30%;
            float:left;
            height: 250px;
            overflow: hidden;
            
            
            
        }
        #div3{
            background-color: gray;
            width: 30%;
            margin:0 auto ;
            height: 250px;
            overflow: hidden;
            
            
        }
        @media(min-width:768px) and (max-width:991px) {
            #div1{
                width:45%;
                height:200px;
                margin: 10px;
            }
            #div2{
                width:45%;
                height:200px;
                margin:10px;
            }
            #div3{
                width:90%;
                height:100px;
                
                background-color:gray;
               
                margin:0 auto;       
            }
            

        }
        @media(max-width:767px) {
            #div1{
                width: 70%;
                margin-right: 95px;
                
            }
            #div2{
                width: 70%;
                margin: 20px;
                margin-left: 90px;
                margin-right: 180px;
            }
            #div3{
                width:70%;
                
                
            }
        }
    